.list-user-container {
    .list-user-content {
        .child {
            width: 400px;
            margin: 0 auto;
            height: 40px;
            border: 1px solid grey;
            display: flex;
            justify-content: space-between;
        }

        button {
            width: 100px;
            display: flex;

            a {
                text-decoration: none;
                font-weight: 600;
                color: #333;
                flex: 1;
                line-height: 40px;
            }
        }
    }
}